<div class="E-holder">

  <%= link_to "#top",class:"link-tag" do %>
    <div class="up-nav-arw">
      <i class='bx bxs-up-arrow-circle blue'></i>
    </div>
  <% end %>

  <div class="container">
    <div class="content-container" id="top">
      <div class="content-header">
        <h1 class="text t-header">COMPUTER FUNDAMENTALS</h1>
        <p class="text">In this course you will learn about computer fundamentals and its
          various aspects</p>
      </div>
      <hr class="line-hr">

      <div class="content-overview">
        <div class="content-table">
          <h3 class="text t-s-header blue">
            CONTENTS</h3>

          <ol class="content-topic">
            <li>
              <%= link_to "#whatIsComputer" ,class: "link-tag" do %>
                whats is computer
              <% end %>
            </li>
            <li>
              <%= link_to "#oi" ,class: "link-tag" do %>
                Input & Output devices
              <% end %>
            </li>
            <li>
              <%= link_to "#computer_components" ,class: "link-tag" do %>
                Computer Components
              <% end %>
            </li>
            <li>
              <%= link_to "#software" ,class: "link-tag" do %>
                Software
              <% end %>
            </li>
            <li>
              <%= link_to "#hardware" ,class: "link-tag" do %>
                hardware
              <% end %>
            </li>
            <li>
              <%= link_to "#internet" ,class: "link-tag" do %>
                Internet
              <% end %>
            </li>
            <li>
              <%= link_to "#intranet" ,class: "link-tag" do %>
                Intranet
              <% end %>
            </li>
            <li>
              <%= link_to "#website" ,class: "link-tag" do %>
                Websites
              <% end %>
            </li>
            <li>
              <%= link_to "#assign" ,class: "link-tag" do %>
                Assignment
              <% end %>
            </li>
            <li>
              <%= link_to "#os" ,class: "link-tag" do %>
                What is OS?
              <% end %>
            </li>
            <li>
              <%= link_to "#data" ,class: "link-tag" do %>
                Data and Information
              <% end %>
            </li>
            <li>
              <%= link_to "#network" ,class: "link-tag" do %>
                Computer network
              <% end %>
            </li>
            <li>
              <%= link_to "#memory" ,class: "link-tag" do %>
                Memory
              <% end %>
            </li>
            <li>
              <%= link_to "#cp" ,class: "link-tag" do %>
                Computer protocols
              <% end %>
            </li>
            <li>
              <%= link_to "#firew" ,class: "link-tag" do %>
                Firewall
              <% end %>
            </li>
            <li>
              <%= link_to "#binary" ,class: "link-tag" do %>
                Binary number system
              <% end %>
            </li>
            <li>
              <%= link_to "#coding" ,class: "link-tag" do %>
                What is coding ?
              <% end %>
            </li>
            <li>
              <%= link_to "#key" ,class: "link-tag" do %>
                Shortcut keys in keyboard
              <% end %>
            </li>
            <li>
              <%= link_to "#" ,class: "link-tag" do %>
                Virus
              <% end %>
            </li>

          </ol>

        </div>
        <div class="content-text">

          <div class="content-text-holder" id="whatIsComputer">

            <div>

              <h1 class="t-header text">
                What is a computer?
              </h1>
            </div>
            <div>
              <p class="text">
                A Computer is an electronic device that stores, retrieves and
                processes data. Usage: We use computers to type documents, send
                email,play games, watch movies and browse the web.Computer use
                a combination of hardware and software.
              </p>
            </div>

            <div>
              <%= image_tag("cf/ct.jpg" ,width:"500px") %>
            </div>
          </div>
          <div class="content-text-holder" id="oi">

            <div>

              <h1 class="t-header text">
                Input & Output Devices
              </h1>
            </div>
            <div>
              <p class="text">Input - It is the process of entering data and programs in the
                computer system.
                <br>
                Output - Any information processed by and sent out from a
                computer or other electronic device is considered output
              </p>
            </div>

            <div>
              <%= image_tag("cf/oi.png" ,width:"500px") %>
            </div>
          </div>

          <div class="content-text-holder" id="computer_components">

            <div>

              <h1 class="t-header text">
                Computer Components
              </h1>
            </div>
            <div>
              <p class="text">
                <ul>
                  <li>
                    <h3 class="text">
                      CPU
                    </h3><br>
                    <p class="text">
                      The Central Process Unit or CPU is the main microchip in
                      the computer.This distributes tasks to all other parts of
                      the computer
                    </p>
                  </li>
                  <br>
                  <li>
                    <h3 class="text">
                      Memory
                    </h3><br>
                    <p class="text">
                      RAM(Random Access Memory) is commonly called memory, and
                      stores computer code that needs to be operated on
                      quickly.This allows information held in a computer to
                      quickly interact with the CPU.
                    </p>
                    <p class="text">
                      ROM(Read Only Memory) is a type of electronic storage
                      that comes built into a device during manufacturing.
                      You'll find ROM chips in computers and many other types
                      of electronic products
                    </p>
                  </li>
                  <br>
                  <li>
                    <h3 class="text">
                      Hard Disk / Hard Drive
                    </h3><br>
                    <p class="text">
                      Hard drive is the main storage of the computer.It usually
                      stores the data permanently until it is erased.Size of
                      the hard disk is usually determined in Gigabytes.
                    </p>
                  </li>
                </ul>
              </p>
            </div>

            <div>
              <%= image_tag("cf/rr.png" ,width:"500px") %>
            </div>
          </div>

          <div class="content-text-holder" id="software">

            <div>

              <h1 class="t-header text">
                Software
              </h1>
            </div>
            <div>
              <p class="text">
                Software is needed to carry out the instructions that are
                stored in the computer hardware. A collection of instructions
                that enable the user to interact with a computer, its hardware,
                or perform tasks.
              </p>
            </div>

            <div>
              <%= image_tag("cf/ss.webp" ,width:"500px") %>
            </div>
          </div>

          <div class="content-text-holder" id="hardware">

            <div>

              <h1 class="t-header text">
                Hardware
              </h1>
            </div>
            <div>
              <p class="text">
                Computer hardware includes the physical parts or components of
                the computer, such as a monitor, keyboard, mouse, motherboard,
                etc. We need software for the instructions that can be stored
                and run by the hardware.
              </p>
            </div>

            <div>
              <%= image_tag("cf/hd.jpg" ,width:"500px") %>
            </div>
          </div>

          <div>

            <div class="content-text-holder" id="internet">

              <div>

                <h1 class="t-header text">
                  Internet
                </h1>
              </div>
              <div>
                <p class="text">
                  Interconnected networks which connect computers, laptops,
                  tablets, mobile phones, and televisions worldwide.
                </p>

                <p class="text">
                  Connection can be established through wired or wireless using
                  cable or modem.</p>
                <p class="text">
                  It uses the standard Internet Protocol (TCP/IP). Every
                  computer on the Internet is identified by a unique IP
                  address. IP Address is a unique set of numbers (such as
                  110.22.33.114) which identifies a computer’s location.</p>

                <p class="text">
                  A special computer DNS (Domain Name Server) is used to
                  provide a name to the IP Address so that the user can locate
                  a computer by a name. For example, a DNS server will resolve
                  a name to a particular IP address to uniquely identify the
                  computer on which this website is hosted.
                </p>

              </div>

              <div>
                <%= image_tag("cf/int.png" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="intranet">

              <div>

                <h1 class="t-header text">
                  Intranet
                </h1>
              </div>
              <div>
                <p class="text">
                  Intranet is the system in which multiple PCs (Personal
                  Computers) are connected to each other.
                </p>
                <p class="text">
                  PCs on the intranet are not available to the world outside
                  the intranet.
                </p>

                <p class="text">
                  Usually each organization has its own Intranet network and
                  members/employees of that organization can access the
                  computers in their network.
                </p>
                <p class="text">
                  The Internet is not as safe as the Intranet. Intranet can be
                  safely privatized as per the need of the organization.
                </p>
                <p class="text">
                  Intranet uses internet protocols such as TCP/IP and FTP.
                </p>

              </div>

              <div>
                <%= image_tag("cf/inta.jpg" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="website">

              <div>

                <h1 class="t-header text">
                  Websites
                </h1>
              </div>
              <div>
                <p class="text t-s-header ">
                  How do websites work ?
                </p>

                <p class="text">A website is simply a collection of web pages of codes –
                  codes that describes the layout, format and content on a
                  page.
                </p>
                <p class="text">
                  The web server is a internet-connected computer that receives
                  the request for a web page sent by your browser.
                </p>
                <p class="text">
                  The browser connects your computer to the server through an
                  IP address. The IP address is obtained by translating the
                  domain name. Example : Chrome, Safari, IE
                </p>
                <p class="text t-s-header">
                  Why need a website ?
                </p>

                <p class="text">We need a website because in applications we may face
                  crashing of apps but in websites we will not face crashing
                  until there is a server-down. Rather than calling and getting
                  details, users can go to the website and get the information
                  they require.
                </p>
                <p class="text">Having a website is an opportunity to make a great first
                  impression and give people comfort that you're a real
                  business.
                </p>
                <p class="text">Web applications are independent of the OS.</p>
                <p class="text">
                  You can easily access the application seamlessly if you have
                  a proper Internet connection. No need for installation.
                </p>

                <p class="text">Reduces computer memory space as the files are stored on
                  cloud.
                </p>
                <p class="text">Responsive websites are also easier to maintain than apps
                  because a mobile website is accessible across platforms and
                  can be easily shared among users, as well as search engines,
                  it has far greater reach capability than a native app
                </p>
                <p class="text">If there is any issues in offline, then users can look
                  through the website
                </p>
                <p class="text">
                  Eg : You can move your business to another location without
                  affecting your sales as customers still can find you through
                  your website
                </p>
                <p class="text">Web application needs to be updated manually, web application
                  automatically updates as the cloud data is changed</p>

              </div>

              <div>
                <%= image_tag("cf/web.webp" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="assign">
              <div>

                <h1 class="t-header text">
                  Assignments
                </h1>
              </div>
              <div>
                <p class="text"><strong>Try to find answer for these on your own</strong></p>
                <p class="text">
                  1.Explain this presentation in 10 lines.
                </p>
                <p class="text">2.Send an email to your team member.
                </p>

                <p class="text">3.What are the uses of the internet in our daily life ?
                </p>

                <p class="text">4.What is a Web Browser(Browser)? Give an example.</p>

                <p class="text">5.What are the different peripherals of a computing System ?
                </p>

                <p class="text">6.Find your device ip address ?</p>

              </div>

            </div>

            <div class="content-text-holder" id="os">

              <div>

                <h1 class="t-header text">
                  What is OS ?
                </h1>
              </div>
              <div>
                <p class="text">
                  An Operating System (OS) is an interface between a computer
                  user and computer hardware. It is required to manage and
                  operate devices like laptops, computers,smartphones etc.
                </p>
              </div>

              <div>
                <%= image_tag("cf/os.jpg" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="data">

              <div>

                <h1 class="t-header text">
                  Data and information
                </h1>
              </div>
              <div>
                <p class="text t-s-header">Data
                </p>
                <p class="text">Data can be defined as a representation of facts, concepts,
                  or instructions in a formalized manner, which should be
                  suitable for communication, interpretation, or processing by
                  human or electronic machine.
                </p>
                <p class="text t-s-header">
                  Information:
                </p>

                <p class="text">
                  Information is organized or classified data, which has some
                  meaningful values for the receiver. Information is the
                  processed data on which decisions and actions are based.
                </p>
              </div>

            </div>

            <div class="content-text-holder" id="network">

              <div>

                <h1 class="t-header text">
                  Computer Network
                </h1>
              </div>
              <div>
                <p class="text">
                  A computer network is a system in which multiple computers
                  are connected to each other to share information and
                  resources.
                </p>

                <p class="text t-s-header">Characteristics of computer network:</p>
                <p class="text">
                  A computer network refers to sharing of resources from one
                  computer to another. It can create files and store them in
                  one computer,access those files from others computers. It
                  connects a printer, scanner, or a fax machine to one computer
                  within the network and let other computers of the network use
                  the machines available over the network.</p>

                <p class="text">The list of hardware required to set up a computer network.
                </p>
                <p class="text">Network Cables.</p>
                <p class="text">Distributors.
                </p>
                <p class="text">Routers.
                </p>
                <p class="text">Internal Network cards.</p>
                <p class="text">External Network cards.
                </p>

                <p class="text t-s-header">Network Cables:
                </p>
                <p class="text">
                  Network cables are used to connect computers.The most
                  commonly used cable is Category 5 cable RJ-45.
                </p>
                <p class="text t-s-header">Distributors:
                </p>
                <p class="text">
                  A distributor is more of a central item used to connect many
                  computers to each other and streamline the process. If
                  everything was connected to each other directly using ports,
                  it would cause a lot of confusion and mess, this is where
                  distributors come in to make everything easier.</p>
                <p class="text t-s-header">Router :
                </p>
                <p class="text">A router is a device that connects two or more
                  packet-switched networks or subnetworks. It serves two
                  primary functions: managing traffic between these networks by
                  forwarding data packets to their intended IP addresses, and
                  allowing multiple devices to use the same Internet
                  connection.
                </p>
                <p class="text t-s-header">Internal network cards :
                </p>
                <p class="text">
                  Motherboard has a slot for an internal network card where it
                  is to be inserted. Internal network cards are of two types in
                  which the first type uses Peripheral Component Interconnect
                  (PCI) connection, while the second type uses Industry
                  Standard Architecture (ISA)
                </p>
                <p class="text t-s-header">External network cards :
                </p>
                <p class="text">
                  External network cards are of two types: Wireless and USB
                  based. Wireless network card needs to be inserted into the
                  motherboard, however no network cable is required to connect
                  to the network.
                </p>

              </div>

              <div>
                <%= image_tag("cf/cn.jpeg" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="memory">

              <div>

                <h1 class="t-header text">
                  Memory
                </h1>
              </div>
              <div>
                <p class="text">In computing, memory is a device or system that is used to
                  store information for immediate use in a computer or related
                  computer hardware and digital electronic devices. The term
                  memory is often synonymous with the term primary storage or
                  main memory.
                </p>

                <p class="text t-s-header">Cache Memory :
                </p>
                <p class="text">Cache memory is a small-sized type of volatile computer
                  memory that provides high-speed data access to a processor
                  and stores frequently used computer programs, applications
                  and data.A temporary storage of memory cache makes data
                  retrieval easier and more efficient.
                </p>

                <p class="text">
                  For example,if you are working on a video project,the video
                  editor may load specific video clips and audio tracks from
                  the hard drive into RAM.</p>
                <p class="text t-s-header">
                  Primary Memory :
                </p>
                <p class="text">Primary memory is computer memory that a processor or
                  computer accesses first or directly. It allows a processor to
                  access running execution applications and services that are
                  temporarily stored in a specific memory location.Primary
                  memory is also known as primary storage or main memory. For
                  Example : RAM, ROM, Cache memory, PROM, EPROM, Registers,
                  etc.</p>
                <p class="text t-s-header">Secondary Memory :
                </p>
                <p class="text">
                  Secondary memory is computer memory that is non-volatile and
                  persistent in nature and is not directly accessed by a
                  computer/processor. It allows a user to store data that may
                  be instantly and easily retrieved, transported and used by
                  applications and services. Secondary memory is also known as
                  secondary storage.For Examples: Hard Disk, Floppy Disk,
                  Magnetic Tapes, etc.
                </p>
              </div>

              <div>
                <%= image_tag("cf/mem.webp" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="cp">

              <div>

                <h1 class="t-header text">
                  Computer protocols
                </h1>
              </div>
              <div>
                <p class="text">
                  A communication protocol is a system of rules that allows two
                  or more entities of a communications system to transmit
                  information via any kind of variation of a physical
                  quantity.
                </p>
              </div>

              <div>
                <%= image_tag("cf/ip.png" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="firew">

              <div>

                <h1 class="t-header text">
                  Firewall
                </h1>
              </div>
              <div>
                <p class="text">
                  In computing, a firewall is a network security system that
                  monitors and controls incoming and outgoing network traffic
                  based on predetermined security rules. A firewall typically
                  establishes a barrier between a trusted network and an
                  untrusted network, such as the Internet.
                </p>
              </div>

              <div>
                <%= image_tag("cf/fw.png" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="binary">

              <div>

                <h1 class="t-header text">
                  Binary number system
                </h1>
              </div>
              <div>
                <p class="text">
                  Computers don’t understand words or numbers the way humans
                  do. Modern software allows the end user to ignore this, but
                  at the lowest levels of your computer, everything is
                  represented by a binary electrical signal that registers in
                  one of two states: on or off. To make sense of complicated
                  data, your computer has to encode it in binary.
                </p>
                <p class="text">Binary is a base 2 number system. Base 2 means there are only
                  two digits—1 and 0—which correspond to the on and off states
                  your computer can understand. You’re probably familiar with
                  base 10—the decimal system. Decimal makes use of ten digits
                  that range from 0 to 9, and then wraps around to form
                  two-digit numbers, with each digit being worth ten times more
                  than the last (1, 10, 100, etc.). Binary is similar, with
                  each digit being worth two times more than the last.
                </p>

                <p class="text">For example: Binary code of “good dog” is 01100111 01101111
                  01101111 01100100 00100000 01100100 01100100 01100111
                </p>
              </div>

            </div>

            <div class="content-text-holder" id="coding">

              <div>

                <h1 class="t-header text">
                  What is Coding
                </h1>
              </div>
              <div>
                <p class="text">
                  Coding, in simpler terms, means feeding our commands to the
                  computer in a language the computer understands, so that the
                  computer can carry out the said command, and perform the
                  task.
                </p>
                <p class="text t-s-header">Who are Developers ?</p>
                <p class="text">Developers are people who code in computers. They give
                  instructions to the computer about what job it needs to go.
                  The set of instructions is called Code.</p>
              </div>

              <div>
                <%= image_tag("cf/dev.png" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="key">

              <div>

                <h1 class="t-header text">
                  SHORTCUT KEYS IN KEYBOARD
                </h1>
              </div>
              <div>
                <%= image_tag("cf/k2.png" ,width:"500px") %>
              </div>
              <div>
                <%= image_tag("cf/k1.png" ,width:"500px") %>
              </div>
            </div>

            <div class="content-text-holder" id="virus">

              <div>

                <h1 class="t-header text">

                  VIRUS
                </h1>
              </div>
              <div>
                <p class="text">
Computer virus is a computer program that can infect a
                  computer without the knowledge of the person using the
                  system.
                </p>
                <p class="text">Virus can spread from one system to another when an infected
                  file is copied/transferred from host to target system.
                </p>
                <p class="text">Care should be taken to install anti-virus programs in order
                  to protect your system from possible vulnerable viruses.</p>
                <p class="text t-s-header">What to do to get rid of a computer virus
                </p>
                <p class="text">Step 1: Download and install a virus scanner.
                </p>
                <p class="text">Step 2: Disconnect from the internet.
                </p>
                <p class="text">Step 3: Reboot your computer into safe mode.
                </p>
                <p class="text">Step 4: Delete any temporary files.
                </p>
                <p class="text">
                  Step 5: Run a virus scan.
                </p>
                <p class="text">Step 6: Delete or quarantine the virus.
                </p>
                <p class="text">Step 7: Reboot your computer.
                </p>
                <p class="text">Step 8: Change all your passwords
                </p>
                <p class="text">Step 9: Update your software,browser and operating system.
                </p>
              </div>

            </div>

            <%# end %>

          </div>

        </div>
      </div>

    </div>
  </div>
