
<div class="card-header">
<div class="card-title">
<h1>Task Manager</h1>
<div class="card-body">
<%= link_to "New Task", new_todo_path, class: "btn btn-outline-dark" %>
<br>
<small class="text-muted">click to add a task</small>
</div>
</div>
</div>
<h5 id="notice" class="popup"><%= notice %></h5>
<p class="img-box">
<%= array = ["rip.jpg"] %>
</p>
<div class="row row-cols-1 row-cols-md-4 g-4">

<% @todos.each do |todo| %>
 <div class="col">
    <div class="card">
   <%= image_tag(array[0] ,width: "100%") %>
        <div class="card-body">
          <h5 class="card-title">Task</h5>
          <p class="card-text"></p><%= todo.task.capitalize %></p>
          <p><%= todo.date %> </p>
          <div class="card-footer">
            <small class="text-muted">
            <%= link_to "Show", todo, class: "btn btn-info" %>
            <%= link_to "Edit", edit_todo_path(todo), class: "btn btn-secondary" %>
            <%= link_to delete_todo_path(todo), class: "btn btn-danger",  data: { confirm: "Are you sure?" } do %> 
          Del
        <% end %>
            </small>
          </div>
        </div>     
    </div>
  </div>
   <% end %>
  </div>
</div>

