



<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="actions">
<%= link_to 'Back', blogs_path ,class: "btn btn-outline-danger" %>
    <%= form.submit class:"btn btn-success"%>

  </div>


  <div class="field">
    <%= form.text_field :title ,placeholder: "TITLE" ,:required => true%>
  </div>
    <div class="field">
    <%= form.label :blogImage %>
    <%= form.file_field :blogImage %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content,placeholder: "start writing here" %>
  </div>
 

 
<% end %>

