

<div class="form-holder login">
<div class="title">LOGIN</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="input-holder">
 <i class='bx bx-user'></i>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "email", class: "no-border"%>
</div>
<div class="input-holder">
  <i class='bx bx-lock-alt'></i>
    <%= f.password_field :password, autocomplete: "current-password",placeholder: "password" ,class: "no-border" %>
  </div>
<div class="btn">
<%= f.submit "Log in" ,class:"btn btn-outline-kodo" %>
  </div>
<% end %>


</div>










  
   

    



<%# <%= render "devise/shared/links" %> %>



